option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    APP_PORT: 8080
    CLIENT_URL: "https://nyp-learning-app-dev.s3.ap-southeast-1.amazonaws.com/"
    DB_HOST: "<database-id>.<random-id>.ap-southeast-1.rds.amazonaws.com"
    DB_PORT: 3306
    DB_USER: "user"
    DB_PWD: "password"
    DB_NAME: "learning_dev"
    APP_SECRET: "013720de-bd04-40b2-9a8c-ca625c831265"
    TOKEN_EXPIRES_IN: "30d"
